{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "SSR": true,
    "RDE_COMPOSE": true,
    "PRE_ST": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.client.js"
      }
    }
  },
  "rules": {
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "comma-dangle": ["error", "always-multiline"],
    "react/prefer-stateless-function": "off",
    "no-shadow": ["error", {"allow": ["e", "error", "err"]}],
    "consistent-return": "off",
    "array-callback-return": "off"
  }
}
